{
 "display_name": "pySpark",
 "language": "python",
 "argv": [
  "{{conda_dir}}/bin/python",
  "-m",
  "pyspark_kernel",
  "-f",
  "{connection_file}"
 ],
 "env": {
  "SPARK_HOME": "{{spark_install_dir}}/spark",
  "PYTHONPATH": "{{spark_install_dir}}/spark/python/:{{spark_install_dir}}/spark/python/lib/py4j-0.8.2.1-src.zip:/usr/local/share/jupyter/kernels/pyspark/",
  "KERNEL_INIT_FILE": "/usr/local/share/jupyter/kernels/pyspark/kernel_init.py",
  "PYSPARK_SUBMIT_ARGS": "--master local[*] pyspark-shell",
  "NOTEBOOK_SERVER_ADDRESS": "127.0.0.1",
  "NOTEBOOK_SERVER_PORT": "8888",
  "RABBIT_MQ_ADDRESS": "127.0.0.1",
  "RABBIT_MQ_PORT": "5672"
 }
}
