; {{ ansible_managed }}

[program:{{ item.key }}]
command={{ item.value.command }}
{% if item.value.directory is defined %}
directory={{ item.value.directory }}
{% endif %}
{% if item.value.environment is defined %}
environment={{ item.value.environment }}
{% endif %}
{% if item.value.autostart is defined %}
autostart={{ 'true' if item.value.autostart | bool else 'false' }}
{% endif %}
{% if item.value.autorestart is defined %}
autorestart={{ 'true' if item.value.autorestart | bool else 'false'}}
{% endif %}
{% if item.value.startretries is defined %}
startretries={{ item.value.startretries }}
{% endif %}
{% if item.value.stdout_logfile is defined %}
stdout_logfile={{ item.value.stdout_logfile }}
{% endif %}
{% if item.value.stdout_logfile_maxbytes is defined %}
stdout_logfile_maxbytes={{ item.value.stdout_logfile_maxbytes }}
{% endif %}
{% if item.value.stderr_logfile is defined %}
stderr_logfile={{ item.value.stderr_logfile }}
{% endif %}
{% if item.value.stderr_logfile_maxbytes is defined %}
stderr_logfile_maxbytes={{ item.value.stderr_logfile_maxbytes }}
{% endif %}
{% if item.value.user is defined %}
user={{ item.value.user }}
{% endif %}
