<div class="inmodal c-export-modal">
  <form ng-submit="controller.download()">
    <div class="modal-header">
      <h4 class="modal-title">Export workflow</h4>
    </div>
    <div class="modal-body">
      <div class="text-center" ng-if="controller.loading">
        <deepsense-loading-spinner-sm></deepsense-loading-spinner-sm>
        <span dynamic-dots dynamic-dots-status="controller.loading ? 'loading' : ''">Saving the workflow</span>
      </div>
      <div ng-if="!controller.loading">
        <div ng-if="controller.warningMessage" class="c-export-modal__warning-message text-warning">
          <div class="c-export-modal__warning-message__icon"><i class="fa fa-exclamation"></i></div>
          <div class="c-export-modal__warning-message__text">{{ controller.warningMessage }}</div>
        </div>
        <div>The downloaded
          <a href="https://seahorse.deepsense.io/docs/latest/workflowfile.html" target="_blank">workflow file</a>
          will contain all the steps from your workflow.
          In order to execute the workflow file on your Spark Cluster, please
          use the
          <a href="https://seahorse.deepsense.io/docs/latest/workflowexecutor.html" target="_blank">Workflow
            Executor</a>.
        </div>
        <br>
        <footer class="text-center">
          <a class="btn btn-info"
             ng-href="{{controller.getExecutorLink()}}">Download
            Workflow Executor
          </a>
          <button type="button" class="btn btn-info"
                  ng-click="controller.download()" focused="">Download Workflow
          </button>
        </footer>
      </div>
      <span class="pull-right text-danger" ng-if="controller.errorMessage">{{ controller.errorMessage }}</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="controller.close()">
        Close
      </button>
    </div>
  </form>
</div>
