.export-modal {
  &__body {
    display: flex;
    flex-direction: column;
    padding: 15px 60px;

    .include-datasources {
      margin-top: 15px;
      text-align: left;

      .label-wrapper {
        span {
          line-height: 1.5em;

          &:last-child {
            display: block;
            padding-left: 22px;
          }
        }
      }
    }

    input[type=checkbox] + span:before {
      margin-right: 5px;
    }

    div {
      margin: 5px 0;
    }
  }
}
