<div class="inmodal export-modal">
  <div class="modal-header">
    <h4 class="modal-title">Export workflow</h4>
  </div>
  <div class="modal-body export-modal__body">
    <div class="include-datasources">
      <label class="custom-checkbox">
        <input type="checkbox" ng-model="controller.includeDatasources">
        <span class="label-wrapper">
          <span>
            Export with definitions of the datasources.
          </span>
          <br/>
          <span>
            Note that those definitions may contain sensitive information (e.g. database credentials).
          </span>
        </span>
      </label>
    </div>
    <div>
      <a ng-click="controller.download()" >
        <button type="button" class="btn btn-info no-selection">
          Export Workflow
        </button>
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="controller.close()">
      Close
    </button>
  </div>
</div>
