@import "../../css/variables";
@import "./mixins.less";
@import "./workflows-editor/workflows-editor.less";
@import "./common-behaviours/common-stick-onscroll.less";
@import "./common-behaviours/draggable.less";
@import "./graph-panel/graph-panel.less";
@import "./workflows-status-bar/workflows-status-bar.less";
@import "./reports/reports.less";
@import "./panels.less";

.o-color-picker--inline {
  display: inline-block;
  margin: 0;
  width: 10px;
  height: 10px;
  min-width: 0;
}

.c-dynamic-part {
  .heightWithNavOffset();

  display: block;
}

.c-main-header {
  height: @navigation-bar-height;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: ~"calc(100% - @{panel-main-width})";

  &__nav-bar {
    width: 100%;
  }
}

.c-workflow-container {
  display: flex;
  height: 100%;
  clear: both;
  overflow: hidden;
  flex-direction: column;

  &__content {
    display: flex;
    height: ~"calc(100% - 25px)";
  }
}

.c-bottom-tabs {
  position: relative;
  height: 100%;
  flex: 1 1 100%;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid lightgray;
  overflow-y: scroll;
}

.c-navigation-bar {
  width: @panel-main-width;
  min-width: @panel-main-width;
}

textarea.editable-has-buttons.editable-input {
  width: 100%;
  margin: 0 0 10px;
  min-height: 12ex;

  + .editable-buttons {
    button:first-child {
      margin-left: 0;
    }
  }
}
