#!/bin/bash

# Copyright (c) 2015, CodiLime Inc.

cd {{frontend_dir}}

wget {{ds_frontend_artifact_url}}
unzip {{ds_frontend_package_name}}.zip

cp -r build/* /usr/share/nginx/html

export EDITOR_VERSION=`cat build/FULL_VERSION`
export DOCS_ADDRESS={{ds_frontend_docs_address}}
export API_VERSION={{api_version}}

eval "echo \"$(<config.js)\"" > /usr/share/nginx/html/config.js

rm -Rf build {{ds_frontend_package_name}}.zip
