<span>
  <article class="modal-body u-flex" ng-if="::!selectorIsSingle()">
    <section class="o-modal-selector__item u-flex__1">
      <div class="form-inline form-group">
      <input class="form-control" ng-model="search.name" placeholder="Filter columns...">
        <button class="btn btn-sm btn-info" ng-click="selectAll(filtered)">Select all</button>
        <button class="btn btn-sm btn-info" ng-click="unselectAll(filtered)">Unselect all</button>
      </div>
      <div class="column-names-list">
        <div ng-repeat="field in filtered = (parameter.dataFrameSchema.fields | filter:search)">
          <span>
            <input type="checkbox" ng-model="selected[field.name]">
            <label>{{ ::field.name }}</label>
          </span>
        </div>
      </div>
    </section>
    <section class="o-modal-selector__item u-flex__1">
      <section class="o-modal-selector__list">
        <p><strong>Selected columns: </strong></p>
        <span class="badge badge-info o-tag-unit" ng-repeat="name in selectedNames()">
          <span class="o-tag-unit__name">{{name}}</span>
          <a class="close o-tag-unit__close" ng-click="removeName(name)">&times;</a>
        </span>
        <span ng-if="selectedNames().length === 0">
          None
        </span>
      </section>
    </section>
  </article>

  <article class="modal-body u-flex" ng-if="::selectorIsSingle()">
    <section class="o-modal-selector__item u-flex__1">
      <div class="form-inline form-group">
        <input class="form-control" ng-model="search.name" placeholder="Filter columns...">
      </div>
      <div class="column-names-list">
        <div ng-repeat="field in parameter.dataFrameSchema.fields | filter:search">
          <span>
            <input
              type="radio"
              ng-click="selected.field = field"
              ng-checked="selected.field && selected.field.name == field.name">
            <label>{{ ::field.name }}</label>
          </span>
        </div>
      </div>
    </section>
    <section class="o-modal-selector__item u-flex__1">
      <section class="o-modal-selector__list">
        <p><strong>Selected column: </strong></p>
        <span ng-if="selected.field" class="badge badge-info o-tag-unit">
          <span class="o-tag-unit__name">{{selected.field.name}}</span>
          <a class="close o-tag-unit__close" ng-click="removeName()">&times;</a>
        </span>
        <span ng-if="!selected.field">
          None
        </span>
      </section>
    </section>
  </article>
</span>
