#!/bin/bash

rm -fR /tmp/docker-ansible /tmp/supervisor* /tmp/elementtree* /tmp/meld3* /tmp/setuptools* /tmp/kernels {{wm_install_dir}}/deepsense-workflowmanager.zip
{{conda_dir}}/bin/conda clean --yes --tarballs
{{conda_dir}}/bin/conda clean --index-cache
apt-get -y remove juju-core puppet-common chef-zero
apt-get -y autoremove
apt-get -y clean
rm -fR /var/lib/apt/lists/*

