<div class="canvas-toolbar">
  <div ng-click="$ctrl.newNode()"
       class="canvas-toolbar__item"
       draggable-type="exact"
       draggable-exact-type="graphNode"
       draggable="true"
  >
    <img alt="Create new node" src="img/toolbar-node.svg" class="canvas-toolbar__image">
  </div>
  <div ng-click="$ctrl.zoomIn()" class="canvas-toolbar__item">
    <img alt="Zoom in" src="img/toolbar-zoom-max.svg" class="canvas-toolbar__image">
  </div>
  <div ng-click="$ctrl.zoomOut()" class="canvas-toolbar__item">
    <img alt="Zoom out" src="img/toolbar-zoom-min.svg" class="canvas-toolbar__image">
  </div>
  <div ng-click="$ctrl.fit()" class="canvas-toolbar__item">
    <img alt="Fit on canvas" src="img/toolbar-fit.svg" class="canvas-toolbar__image">
  </div>
  <div ng-click="$ctrl.fullScreen()" class="canvas-toolbar__item">
    <img alt="Fullscreen" src="img/toolbar-fullscreen.svg" class="canvas-toolbar__image">
  </div>
</div>
