[submodule "seahorse-workflow-executor"]
	path = seahorse-workflow-executor
	url = https://github.com/deepsense-io/seahorse-workflow-executor.git
[submodule "seahorse-sdk-example"]
	path = seahorse-sdk-example
	url = https://github.com/deepsense-io/seahorse-sdk-example.git
