<div class="datasources-modal">
  <div class="datasources-modal__header">
    <div class="modal-title">Select from Database</div>
  </div>

  <div class="datasources-modal__body">
    <div class="datasources-modal__body-row half-width">
      <label class="title">Driver</label>
      <select
        ng-options="driver for driver in $ctrl.drivers"
        ng-model="$ctrl.datasourceParams.jdbcParams.driver"
        class="form-control"
      >
      </select>
    </div>

    <div class="datasources-modal__body-row">
      <label class="title">JDBC connection string</label>
      <input
        ng-model="$ctrl.datasourceParams.jdbcParams.url"
        placeholder="Connection string"
        class="form-control"
        type="text"
      />
    </div>

    <div class="datasources-modal__body-row">
      <div class="radio-row">
        <div class="radio-wrapper">
          <label
            ng-class="{'active': $ctrl.type === 'table'}"
            class="format-form-label"
          >
            <input
              type="radio"
              value="table"
              ng-model="$ctrl.type"
            />
            <span class="radio-title">Table name</span>
          </label>
        </div>
        <div class="radio-wrapper">
          <label
            ng-class="{'active': $ctrl.type === 'query'}"
            class="format-form-label"
          >
            <input
              ng-model="$ctrl.type"
              value="query"
              type="radio"
            />
            <span class="radio-title">Custom SQL query</span>
          </label>
        </div>
      </div>
      <div class="query-row">
        <input
          ng-model="$ctrl.sqlInstruction"
          placeholder="Custom query"
          class="form-control"
          type="text"
        />
      </div>
    </div>

    <div class="datasources-modal__body-row">
      <div class="public-param-row">
        <div class="checkbox-wrapper">
          <label
            ng-class="{'active': $ctrl.datasourceParams.visibility === 'publicVisibility'}"
            class="format-form-label"
          >
            <input
              ng-model="$ctrl.datasourceParams.visibility"
              ng-true-value="'publicVisibility'"
              ng-false-value="'privateVisibility'"
              type="checkbox"
            />
            <span>Public</span>
          </label>
        </div>
        <div class="public-param-row__label">
          (Public data sources are accessible by all users of this instance of Seahorse)
        </div>
      </div>
    </div>
  </div>

  <div ng-include="$ctrl.footerTpl"></div>
</div>
