<div class="c-workflows-status-bar">
  <div class="c-workflows-status-bar__upper-section">
    <div class="c-workflows-status-bar__upper-section-workflow">
      <span class="c-workflows-status-bar__upper-section-workflow__title"
            title="{{controller.workflow.name}}">
        {{controller.workflow.name}}
      </span>
      <span class="viewer-mode" ng-if="controller.isViewerMode()"> (viewer mode)</span>
      <div class="cluster-settings">
        <div class="current-cluster" ng-if="controller.currentPreset === undefined">
          <deepsense-loading-spinner-sm></deepsense-loading-spinner-sm>
        </div>
        <div ng-if="controller.currentPreset" ng-click="controller.openCurrentPresetModal(controller.currentPreset)" class="current-cluster">
          <div ng-switch on="controller.currentPreset.clusterType" class="current-cluster__icon">
            <img ng-switch-when="local" src="/img/cluster-local.png"/>
            <img ng-switch-when="standalone" src="/img/cluster-spark-sm.png"/>
            <img ng-switch-when="mesos" src="/img/cluster-mesos-sm.png"/>
            <img ng-switch-when="yarn" src="/img/cluster-yarn-sm.png"/>
          </div>
          <div>{{controller.formatPresetType(controller.currentPreset.clusterType)}}</div>
          <div class="current-cluster__name">{{controller.currentPreset.name}}</div>
        </div>
        <div ng-click="controller.openClusterSettings()" class="status-bar-item">
          Cluster presets
        </div>
      </div>
    </div>
    <div class="c-workflows-status-bar__upper-section-user">
      <i class="fa fa-user"></i>
      <span>{{::controller.getCurrentUser().name}}</span>
      <span ng-if="::controller.isOwner()">(owner)</span>
    </div>
  </div>
  <div class="c-workflows-status-bar__lower-section">
    <div class="c-workflows-status-bar__container">
      <menu-item ng-repeat="item in controller.getMenuItems(controller.workflow)"
                 label="{{item.label}}"
                 for-owner-only="{{item.forOwnerOnly}}"
                 icon="{{item.icon}}"
                 call-function="item.callFunction()"
                 href="{{item.href}}"
                 target="{{item.target}}"
                 color="{{item.color}}"
                 additional-class="{{item.additionalClass}}"
                 additional-icon-class="{{item.additionalIconClass}}"
                 additional-html-for-owner="{{item.additionalHtmlForOwner}}"
      >
      </menu-item>
      <div class="separator"></div>
      <selection-items></selection-items>
    </div>
    <div class="c-workflows-status-bar__container">

      <div class="button-wrapper">
        <a class="status-bar-item" ng-click="controller.openLibrary()">
          <div class="c-workflows-status-bar__text">
            <div class="c-workflows-status-bar__text-label">Library</div>
          </div>
          <div class="uploading-bar" ng-if="controller.isUploadInProgress">
            <uib-progressbar
              class="progress-striped active uploading-bar__progress"
              animate="true"
              value="controller.progressValue"
              type="info">
            </uib-progressbar>
          </div>
        </a>
      </div>
      <documentation-link></documentation-link>
    </div>
  </div>
</div>
