<div class="c-workflows-status-bar">
  <div class="c-workflows-status-bar__upper-section">
    <div class="c-workflows-status-bar__upper-section-workflow">
      <span class="c-workflows-status-bar__upper-section-workflow__title">{{::workflow.name}}</span>
      <span ng-if="isViewerMode(workflow)">(viewer mode)</span>
    </div>
    <div class="c-workflows-status-bar__upper-section-user">
      <i class="fa fa-user"></i>
      <span>{{::getCurrentUser().name}}</span>
      <span ng-if="::isOwner(workflow)">(owner)</span>
    </div>
  </div>
  <div class="c-workflows-status-bar__lower-section">
    <menu-item ng-repeat="item in getMenuItems(workflow)"
               label="{{item.label}}"
               small-label="{{item.smallLabel}}"
               icon="{{item.icon}}"
               call-function="item.callFunction()"
               href="{{item.href}}"
               target="{{item.target}}"
               color="{{item.color}}"
               additional-class="{{item.additionalClass}}"
               additional-icon-class="{{item.additionalIconClass}}"
               additional-html="{{item.additionalHtml}}"
    >
    </menu-item>
  </div>
</div>
