@import "../../../css/variables";

.c-workflows-status-bar {
  height: 100%;
  margin: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &__upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;

    &-workflow {
      text-align: left;
      font-size: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 70%;
      overflow: hidden;

      @media (max-width: @bigger-media-break) {
        font-size: 16px;
        width: 80%;
      }

      &__title {
        font-weight: bold;
      }
    }

    &-user {
      font-size: 16px;
      margin-right: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 30%;
      overflow: hidden;
      text-align: right;
      vertical-align: middle;

      & i {
        font-size: 20px;
        color: @dark-blue;
      }

      @media (max-width: @bigger-media-break) {
        font-size: 14px;
        margin: 0 20px;
      }
    }

    &-logout {
      margin-right: 10px;
      font-size: 14px;
      min-width: 60px;

      @media (max-width: @media-break) {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }

    @media (max-width: @media-break) {
      align-items: flex-start;
      flex-direction: column;

      &-user {
        text-align: left;
      }
    }
  }

  &__lower-section {
    display: flex;
    width: 100%;
    font-size: 16px;
    align-items: baseline;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__item {
    display: flex;
    align-items: baseline;
    padding: 0 10px;
    position: relative;
    border: none;
    text-transform: uppercase;
    color: @seahorse-blue;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: @seahorse-blue;
      color: #fff;
    }
  }

  &__text {
    height: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    &-small-label {
      font-size: 9px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__icon {
    margin: 0 5px;

    i {
      width: 15px;
      height: 15px;
    }
  }

  &__popover-span {
    display: none;
  }

  .menu-item-disabled {
    pointer-events: none;
    color: @seahorse-grey;
  }

  .disabled {
    background-color: @seahorse-error-red;
    color: #fff;
  }

  .separator {
    border-left: 1px solid #000;
    height: 40px;
    align-self: center;
    margin: 0 10px;
  }
}
