.c-workflows-status-bar {
  @media-break: 1250px;

  margin: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0;
    position: relative;

    &:before {
      transition: all 0.15s ease-in-out;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 0;
      background: rgba(255, 255, 255, 0.35);
    }

    &:hover:before {
      width: 100%;
    }

    @media (max-width: @media-break) {
      margin: 0 5px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__text {
    @media-break-font: 1450px;
    @media-break-visibility: 1100px;

    flex: 0.85;
    font-size: 14px;

    @media (max-width: @media-break-font) {
      font-size: 12px;
      flex: 1;
    }
    @media (max-width: @media-break-visibility) {
      display:none;
    }
  }

  &__icon {
    @media-break: 1100px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 4px 3px;
    transition: all 0.5s;

    @media (max-width: @media-break){
      flex:1;
    }
    flex: 0.15;

  }

  &__popover-span {
    @media-break: 1100px;
    display: block;
    @media (min-width: @media-break) {
      display:none;
    }
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
