<div class="datasources-element">
  <div
    class="datasources-element__name-wrapper"
    ng-class="{'datasources-element__name-wrapper--disabled': !$ctrl.isSelectable($ctrl.element)}"
    ng-click="$ctrl.selectDatasource($ctrl.element)"
  >
    <div
      class="datasources-element__type sa"
      ng-class="$ctrl.typeIcon[$ctrl.element.params.datasourceType]"
    >
    </div>
    <div
      class="datasources-element__name"
      title="{{$ctrl.element.params.name}}"
    >
      {{$ctrl.element.params.name}}
    </div>
  </div>
  <div class="datasources-element__icon-wrapper">
    <div
      ng-if="!$ctrl.isOwner()"
      ng-click="$ctrl.openDatasource($ctrl.element, 'read')"
      class="datasources-element__edit sa sa-view"
      title="See"
    >
    </div>
    <div
      ng-if="$ctrl.isOwner()"
      ng-click="$ctrl.openDatasource($ctrl.element, 'edit')"
      class="datasources-element__edit sa sa-edit"
      title="Edit"
    >
    </div>
    <div
      ng-click="$ctrl.deleteDatasource($ctrl.element)"
      ng-class="{'datasources-element__icon-wrapper--disabled': !$ctrl.isOwner()}"
      class="datasources-element__delete sa sa-delete"
      title="Delete"
    >
    </div>
  </div>
  <div class="datasources-element__created">
    {{$ctrl.element.creationDateTime | date:"dd/MM/yyyy - HH:mm"}}
  </div>
  <div
    class="datasources-element__owner"
    ng-class="{'datasources-element__owner--current' : $ctrl.isOwner}"
  >
    {{($ctrl.isOwner()) ? 'You' : $ctrl.element.ownerName}}
    <span
      ng-if="$ctrl.isOwner()"
      class="datasources-element__owner-icon sa sa-user">
    </span>
  </div>
  <div class="datasources-element__access">
    {{$ctrl.visibilityLabel[$ctrl.element.params.visibility]}}
  </div>
</div>
