server {
  host = "{{sessionmanager_ip}}"
  port = {{sessionmanager_port}}
  startup.timeout = {{startup_timeout}}
}

# REST API prefix
session-api {
  prefix = "{{sessionmanager_api_prefix}}"
}

session-service {
  timeout = {{sessionmanager_service_timeout}}
}

session-executor {
  # Parameters used to spawn Session Executor process
  parameters {
    class-name = "{{sessionmanager_class_name}}"

    # Path to JAR of Session Executor (from Livy's perspective);
    # for example /deepsense/we/workflowexecutor.jar
    application-jar-path = "{{sessionmanager_workflowexecutor_jar}}"

    # Path to RabbitMQ
    queue-host = "{{sessionmanager_executor_mq_host}}"
  }
}

livy-client {
  # Milliseconds to wait for Livy's response
  timeout = {{sessionmanager_livy_timeout}}

  # Livy's base URL.
  base-url = "{{sessionmanager_livy_base_url}}"
}
