<div class="operations-tree no-selection">
  <div class="search-div-wrapper">
    <div class="search-div">
      <input type="text" class="form-control search-input"
        placeholder="Search" ng-model="cpCtrl.search" />
    </div>
    <div ng-if="cpCtrl.search">
      <span class="icon-remove" ng-click="cpCtrl.clearSearch()">
          <i class="fa fa-remove " ></i>
      </span>
    </div>
  </div>
  <ul class="root">
    <operations-category ng-repeat="category in catalogCollection" category="category" search="cpCtrl.search"></operations-category>
  </ul>
</div>
