<div flowchart-box-undraggable tabindex="0" class="flowchart-box">
  <!--tabindex="0" makes flowchart focusable-->
  <div class="flowchart-mask">
    <div class="flowchart-paint-area"
         multi-selection
         deepsense-interactive
         deepsense-interactive-autorun="true"
         collection="flowChartBoxCtrl.workflow.getNodes()"
         collection-item-dimensions="flowChartBoxCtrl.getNodeDimensions()"
         zoom-id="{{::flowChartBoxCtrl.zoomId}}"
         max-zoom-ratio="1.5"
         droppable
         droppable-type="exact"
         droppable-exact-type="graphNode"
         droppable-highlight="parent">
      <graph-node jsplumb-draggable
                  keyboard
                  ng-class="{'selected-node': flowChartBoxCtrl.selectedNode.id === nodeId }"
                  ng-repeat="(nodeId, node) in flowChartBoxCtrl.workflow.getNodes()"
                  node="node">
      </graph-node>
    </div>
    <deepsense-loading-spinner-processing ng-if="flowChartBoxCtrl.isRunning" bg="true">
      Running
    </deepsense-loading-spinner-processing>
  </div>
  <div ng-controller="PortStatusesTooltipController as portStatusesTooltipCtrl">
    <sticky-window
      ng-if="portStatusesTooltipCtrl.tooltipIsVisible"
      x="::portStatusesTooltipCtrl.getPositionX()"
      y="::portStatusesTooltipCtrl.getPositionY()">
      <span ng-repeat="type in ::portStatusesTooltipCtrl.getTypes()">
        <span>{{ ::type }}</span><span ng-if="::!$last">,</span>
      </span>
    </sticky-window>
  </div>
  <deepsense-interaction-toolbar zoom-id="{{::flowChartBoxCtrl.zoomId}}" autorun="true"></deepsense-interaction-toolbar>
</div>
