._jsPlumb_drag_select * {
  user-select: none;
}

._jsPlumb_connector {
  z-index: 18;
}

._jsPlumb_endpoint {
  z-index: 19;
}

path {
  cursor: default;
}

.seahorse-logo {
  pointer-events: none;
  background: url("~_images/seahorse-small.png") center center no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}

.flowchart-box {
  width: 100%;
  background: #eaf4f7;
  overflow: hidden;
  margin: 0;
  height: 100%;
  position: relative;
  flex: 1;
  outline: none;

  &.active-drag-target {
    border: 3px dashed @color-action;
  }

  &--is-running {
    flex-basis: 50%;
  }

  ._jsPlumb_connector {
    z-index: 4;
  }

  .flowchart-paint-area {
    position: absolute;
    width: 10000px;
    height: 10000px;
    z-index: 1;
  }

  .deepsense-interaction-toolbar {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.deepsense-interactive-panel {
  height: 100%;
}

@import "multi-selection/multi-selection.less";
