<aside class="ibox o-general-data-panel o-panel o-panel--scroll-right animated fadeInRight">
  <header class="o-general-data-panel__ibox-title--editor-mode">
    <p class="o-general-data-panel__header">Workflow name:</p>
    <div ng-if="controller.disabledMode">
      <p class="o-general-data-panel__label">
        {{controller.name || 'No name'}}
      </p>
    </div>
    <div ng-if="!controller.disabledMode">
      <div ng-if="!controller.editableInputs.name">
        <p class="o-general-data-panel__label o-general-data-panel__editable-text"
           ng-click="controller.enableEdition('name')"
           uib-tooltip="{{controller.name ? 'Edit workflow name' : ''}}"
           tooltip-placement="left"
           tooltip-append-to-body="true">
          {{controller.name || 'Enter workflow name'}}
        </p>
      </div>
      <div ng-if="controller.editableInputs.name">
        <input class="form-control o-general-data-panel__editable-input"
               ng-model="controller.buffer.name"
               ng-blur="controller.hideInput('name')"
               ng-keydown="controller.saveNewValue($event, 'name')"
               focus-element="controller.editableInputs.name"
        />
        <span class="o-general-data-panel__editable-info">
          Press esc to <a href="" ng-click="controller.hideInput('name')">Cancel</a>
        </span>
      </div>
    </div>
  </header>
  <section class="ibox-content o-general-data-panel__content" custom-scroll-bar>
    <header>
      <p class="o-general-data-panel__header">Description:</p>
      <div ng-if="controller.disabledMode">
        <p class="o-general-data-panel__label">
          {{controller.description || 'No description'}}
        </p>
      </div>
      <div ng-if="!controller.disabledMode">
        <div ng-if="!controller.editableInputs.description">
          <p class="o-general-data-panel__label o-general-data-panel__editable-text"
             ng-click="controller.enableEdition('description')"
             uib-tooltip="{{controller.name ? 'Edit description' : ''}}"
             tooltip-placement="left"
             tooltip-append-to-body="true">
            {{controller.description || 'Enter description'}}
          </p>
        </div>
        <div ng-if="controller.editableInputs.description">
          <input class="form-control o-general-data-panel__editable-input"
                 ng-model="controller.buffer.description"
                 ng-blur="controller.hideInput('description')"
                 ng-keydown="controller.saveNewValue($event, 'description')"
                 focus-element="controller.editableInputs.description"
          />
          <span class="o-general-data-panel__editable-info">
            Press esc to <a href="" ng-click="controller.hideInput('description')">Cancel</a>
          </span>
        </div>
      </div>
    </header>
  </section>
  <section ng-if="controller.publicParams.length > 0">
    <public-params-list
      workflow="controller.workflow"
      public-params="controller.publicParams"
    ></public-params-list>
  </section>

</aside>
