version: '2'
services:
  workflowmanager:
    ports:
     - "9080:9080"
    image: docker-repo.deepsense.codilime.com/tap/deepsense-workflowmanager:seahorse_on_tap-latest
    environment:
      - WM_AUTH_USER=Some_User
      - WM_AUTH_PASS=Some_Password
  sessionmanager:
    ports:
      - "9082:9082"
    image: docker-repo.deepsense.codilime.com/tap/deepsense-sessionmanager:seahorse_on_tap-latest
    environment:
      - LIVY_BASE_URL=http://livy.seahorse.gotapaas.eu
      - MQ_HOST=10.10.10.110
      - MQ_PORT=$GENERATED_MQ_PORT
      - WM_HOST=10.10.10.110
      - WM_PORT=$GENERATED_WM_PORT
      - WM_AUTH_USER=Some_User
      - WM_AUTH_PASS=Some_Password
      - SESSION_EXECUTOR_PATH=hdfs://nameservice1/tmp/we-dev.jar
      - SESSION_EXECUTOR_DEPS_PATH=hdfs://nameservice1/tmp/we-deps-dev.zip
      - SM_MQ_HOST=rabbitmq
      - SM_MQ_PORT=5672
    links:
      - rabbitmq
  frontend:
    image: docker-repo.deepsense.codilime.com/tap/deepsense-frontend:seahorse_on_tap-latest
    environment:
      - API_HOST=http://localhost
      - API_PORT=8080
      - SESSION_API_PORT=8080
      - MQ_USER=guest
      - MQ_PASS=guest
      - SOCKETS_ADDRESS=http://localhost:8080/
      - NOTEBOOKS_HOST=http://localhost:8080/jupyter
    ports:
      - "80:80"
    depends_on:
      - rabbitmq
      - workflowmanager
      - sessionmanager
      - notebooks
  rabbitmq:
    image: docker-repo.deepsense.codilime.com/tap/deepsense-rabbitmq:seahorse_on_tap-latest
    ports:
     - "15674:15674"
     - "15672:15672"
     - "5672:5672"
    environment:
     - RABBITMQ_USER=guest
     - RABBITMQ_PASS=guest
  notebooks:
    image: docker-repo.deepsense.codilime.com/tap/deepsense-notebooks:seahorse_on_tap-latest
    links:
      - workflowmanager
      - rabbitmq
    ports:
      - "9999:8888"
    environment:
      - WM_URL=http://workflowmanager:9080
      - WM_AUTH_USER=Some_User
      - WM_AUTH_PASS=Some_Password
      - MQ_HOST=rabbitmq
      - MQ_PORT=5672
      - HEARTBEAT_INTERVAL=2.0
      - MISSED_HEARTBEAT_LIMIT=30
  proxy:
    image: docker-repo.deepsense.codilime.com/tap/deepsense-proxy:seahorse_on_tap-latest
    ports:
      - "8080:8080"
    environment:
      VCAP_SERVICES: "{\"user-provided\":[{\"credentials\":{\"authorizationUri\":\"http://login.seahorse.gotapaas.eu/oauth/authorize\",\"logoutUri\":\"http://login.seahorse.gotapaas.eu/logout.do\",\"tokenUri\":\"http://uaa.seahorse.gotapaas.eu/oauth/token\",\"clientId\":\"seahorse_client_2\",\"clientSecret\":\"seahorse01\",\"userInfoUri\":\"http://login.seahorse.gotapaas.eu/userinfo\"},\"name\":\"sso\"},{\"credentials\":{\"host\":\"http://workflowmanager:9080\"},\"name\":\"workflow-manager\"},{\"credentials\":{\"host\":\"http://sessionmanager:9082\"},\"name\":\"session-manager\"},{\"credentials\":{\"host\":\"http://notebooks:8888\"},\"name\":\"jupyter\"},{\"credentials\":{\"host\":\"http://rabbitmq:15674\"},\"name\":\"rabbitmq\"},{\"credentials\":{\"host\":\"http://frontend:80\"},\"name\":\"frontend\"}]}"
      WM_AUTH_USER: "Some_User"
      WM_AUTH_PASS: "Some_Password"
