version: '2'
services:
  workflowmanager:
    ports:
     - "9080:9080"
    image: docker-registry.intra.codilime.com/tap/deepsense-workflowmanager
  sessionmanager:
    ports:
     - "9082:9082"
    image: docker-registry.intra.codilime.com/tap/deepsense-sessionmanager
    environment:
      - LIVY_BASE_URL=http://livy.seahorse.gotapaas.eu
      - MQ_HOST=10.10.10.110
      - MQ_PORT=$GENERATED_MQ_PORT
      - WM_HOST=10.10.10.110
      - WM_PORT=$GENERATED_WM_PORT
      - SESSION_EXECUTOR_PATH=hdfs://nameservice1/tmp/we-dev.jar
      - SESSION_EXECUTOR_DEPS_PATH=hdfs://nameservice1/tmp/we-deps-dev.zip
  frontend:
    image: docker-registry.intra.codilime.com/tap/deepsense-frontend
    environment:
      - API_HOST=http://localhost
      - API_PORT=9080
      - SESSION_API_PORT=9082
      - MQ_USER=guest
      - MQ_PASS=guest
      - SOCKETS_ADDRESS=http://localhost:15674/
      - NOTEBOOKS_HOST=http://localhost:9999/jupyter
    ports:
      - "80:80"
    depends_on:
      - rabbitmq
      - workflowmanager
      - sessionmanager
      - notebooks
  rabbitmq:
    image: docker-registry.intra.codilime.com/tap/deepsense-rabbitmq
    ports:
     - "15674:15674"
     - "15672:15672"
     - "5672:5672"
  notebooks:
    image: docker-registry.intra.codilime.com/tap/deepsense-notebooks
    links:
      - workflowmanager
    ports:
      - "9999:8888"
    environment:
      - WM_URL=http://workflowmanager:9080
      - MQ_HOST=rabbitmq
      - MQ_PORT=5672
      - HEARTBEAT_INTERVAL=2.0
      - MISSED_HEARTBEAT_LIMIT=30
    depends_on:
      - rabbitmq
