Vagrant.configure(2) do |config|
  config.vm.define "seahorse-vm" do |seahorsevm|
    seahorsevm.vm.box = "seahorse-vm"
    seahorsevm.vm.box_url = ""
    seahorsevm.vm.hostname = "seahorse-vm"
    seahorsevm.vm.boot_timeout = 600
    seahorsevm.vm.network "private_network", ip: "172.28.128.100"
  end
  config.vm.provider "virtualbox" do |vb|
    vb.memory = "4096"
    vb.cpus = 4
    vb.name = "seahorse-vm"
  end
end
