Vagrant.configure(2) do |config|
  config.vm.define "seahorse-vm" do |seahorsevm|
    seahorsevm.vm.box = "ubuntu/trusty64"
    seahorsevm.vm.hostname = "{{vagrant_box_name}}"
    seahorsevm.vm.boot_timeout = 600
    seahorsevm.vm.network "private_network", ip: "172.28.128.100"
    seahorsevm.vm.provision "ansible" do |ansible|
      ansible.playbook = "../vagrant_provisioner.yaml"
      ansible.sudo = true
      ansible.extra_vars = {
        ansible_ssh_user: 'vagrant',
        wm_build_version: "{{vagrant_wm_build_version}}",
        wm_version: "{{vagrant_wm_version}}",
        ds_wm_public_address: "http://172.28.128.100",
        ds_wm_public_port: 9080,
        notebook_public_address: "http://172.28.120.100:8888",
        queue_public_address: "http://172.28.128.100:15674/",
        ds_frontend_package_name: "{{vagrant_ds_frontend_package_name}}",
        api_version: "{{vagrant_api_version}}",
        ds_editor_ip: "0.0.0.0",
        ds_editor_port: 8000,
        ds_wm_ip: "0.0.0.0",
        ds_wm_port: 9080,
        rabbitmq_server_ip: "0.0.0.0",
        workflowexecutor_build_version: "{{vagrant_workflowexecutor_build_version}}"
      }
      ansible.verbose = "vv"
      ansible.groups = {
        "master" => ["seahorse-vm"],
        "frontend" => ["seahorse-vm"],
        "cassandra" => ["seahorse-vm"],
        "rabbitmq" => ["seahorse-vm"],
        "java_hosts" => ["seahorse-vm"],
      }
    end
  end
  config.vm.provider "virtualbox" do |vb|
    vb.memory = "4096"
    vb.cpus = 4
    vb.name = "seahorse-vm"
  end
end
