; {{ ansible_managed }}

; supervisor config file

[unix_http_server]
file={{ supervisor_unix_http_server_file }} ; (the path to the socket file)
chmod={{ supervisor_unix_http_server_chmod }} ; sockef file mode (default 0700)

{% if supervisor_inet_http_server_enabled %}
[inet_http_server]
port = {{ supervisor_inet_http_server_port }}
username = {{ supervisor_inet_http_server_username }}
password = {{ supervisor_inet_http_server_password }}
{% endif %}

[supervisord]
logfile={{ supervisor_supervisord_logfile }} ; (main log file;default $CWD/supervisord.log)
pidfile={{ supervisor_supervisord_pidfile }} ; (supervisord pidfile;default supervisord.pid)
childlogdir={{ supervisor_supervisord_childlogdir }} ; ('AUTO' child log dir, default $TEMP)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl={{ supervisor_supervisorctl_serverurl }} ; use a unix:// URL  for a unix socket

; The [include] section can just contain the "files" setting.  This
; setting can list multiple files (separated by whitespace or
; newlines).  It can also contain wildcards.  The filenames are
; interpreted as relative to this file.  Included files *cannot*
; include files themselves.

[include]
files = {{ supervisor_include }}
