<div class="inmodal export-modal">
  <div class="modal-header">
    <h4 class="modal-title">Export workflow</h4>
  </div>
  <div class="modal-body">
    <div>The downloaded file will contain your entire workflow.</div>
    <br>
    <footer class="text-center">
      <a ng-click="controller.download()" >
        <button type="button" class="btn btn-info no-selection">
          Download Workflow
        </button>
      </a>
    </footer>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="controller.close()">
      Close
    </button>
  </div>
</div>
