'use strict';

window.dockerConfig =  {
  'sessionPollingInterval': ${SESSION_POLLING_INTERVAL},
  'apiVersion': '${API_VERSION}',
  'editorVersion': '${API_VERSION}',
  'urlApiVersion': '${URL_API_VERSION:-v1}',
  'mqUser': '${MQ_USER:-guest}',
  'mqPass': '${MQ_PASS:-guest}',
};
