<aside class="ibox operation-attributes-panel animated fadeIn">
  <header class="ibox-title ibox-title--main">
    <section class="ibox-title">
        <a href="/documentation/uuid/{{node.operationId}}.html" target="_blank"><h4 class="ibox-title__name">{{ node.name }}</h4></a>
      <a class="close-link" aria-label="Close" ng-click="closePanel()">
        <i class="fa fa-times"></i>
      </a>
    </section>
    <section class="operation-attributes-panel__details">
      <p class="operation-attributes-panel__description"
         title="{{ node.description }}">{{ node.description }}</p>
    </section>
    <section class="operation-attributes-panel__details" ng-if="node.state">
      <header>
        <p class="operation-attributes-panel__state label"
           ng-class="{
            'label-success': node.state.status === 'status_completed',
            'label-danger': node.state.status === 'status_failed',
            'label-warning': node.state.status === 'status_aborted'
           }"
           title="Status">
          {{node.state.status.replace('status_', '')}}
        </p>
      </header>
      <p class="operation-attributes-panel__time text-right"
         ng-show="node.state.ended">
        <span class="block">Last executed</span>
        <i class="fa fa-clock-o"></i>
        <time datetime="{{node.state.ended}}"
              class="text-right">
          {{node.state.ended | date:'medium'}}
        </time>
      </p>
      <section class="operation-attributes-panel__error o-error text-danger"
               ng-if="node.state.error">
        <header>
          <p class="o-error__message">{{node.state.error.message}}</p>
        </header>
        <article>
          <pre ng-if="node.state.error.details">{{node.state.error.details.stacktrace}}</pre>
        </article>
      </section>
    </section>
  </header>
  <section class="ibox-content" custom-scroll-bar>
    <attributes-list
      ng-if="node.parameters"
      parameters-list="node.parameters">
    </attributes-list>
    <deepsense-loading-spinner-sm class="text-center" ng-if="!node.parameters"></deepsense-loading-spinner-sm>
  </section>
</aside>
