.disabled {
  filter: grayscale(100%);
}

.sliding-window {
  height: 100%;
  transform-origin: left top 0;
}

.new-node-container {
  width: inherit;
  height: inherit;
}

.graph-node-component {
  position: absolute;
  z-index: 100;
}
