<div class="operations-list">
  <div class="operations-list__wrapper">
    <div
      class="operations-list__item"
      ng-repeat="category in $ctrl.items track by category.id"
      ng-mouseover="$ctrl.showItem($event, $index)"
      ng-class="category.type"
      ng-click="$ctrl.select(category)"
    >
      <div
        class="operations-list__name"
        title="{{category.name}}"
      >
        {{category.name}}
      </div>
      <div
        ng-if="category.type === 'category'"
        class="operations-list__icon"
      > > </div>
    </div>
  </div>
  <div class="operations-list__next-level"
       ng-if="$ctrl.selectedItems"
       ng-style="$ctrl.getNextLevelStyle()"
  >
    <operations-list
      containment="$ctrl.containment"
      direction="$ctrl.direction"
      items="$ctrl.selectedItems"
      select-operation="$ctrl.selectOperation({operationId: operationId})"
    ></operations-list>
  </div>
</div>
