'use strict';

angular.module('ds.lab').constant('config', {
  'apiHost': '${API_HOST}',
  'docsHost': 'https://seahorse.deepsense.io',
  'notebookHost': '${NOTEBOOKS_HOST}',
  'apiPort': '${API_PORT}',
  'sessionApiPort': '${SESSION_API_PORT}',
  'sessionPollingInterval': ${SESSION_POLLING_INTERVAL},
  'apiVersion': '${API_VERSION:-1.2.0}',
  'editorVersion': '${API_VERSION:-1.2.0}',
  'urlApiVersion': '${URL_API_VERSION:-v1}',
  'resultsRefreshInterval': 10000,
  'socketConnectionHost': '${SOCKETS_ADDRESS}',
  'socketReconnectionInterval': 1000,
  'mqUser': '${MQ_USER:-guest}',
  'mqPass': '${MQ_PASS:-guest}'
});
