@import "../../../../../css/variables";

.datasources-modal__body {
  .google-spreadsheet-input {
    display: flex;

    input.form-control {
      border-radius: 0;
      border-right-width: 0;
    }

    &__status {
      height: 34px;
      width: 34px;
      background-color: @light-grey;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;

      &--ok {
        color: @color-action;
      }

      &--error {
        color: @seahorse-error-red;
      }
    }
  }
}
