<div class="categories-list">
  <div
    class="categories-list__category"
    ng-repeat="category in $ctrl.categories track by category.id"
    ng-mouseenter="$ctrl.showItems[$index] = true"
    ng-mouseleave="$ctrl.showItems[$index] = false"
  >
    <div class="name">{{category.name}}</div>
    <div class="icon"> > </div>
    <div class="categories-list__categories-wrapper"
      ng-if="$ctrl.showItems[$index] && category.catalog.length > 0"
      ng-class="{
        'left-orientation': !$ctrl.childrenPlacement[$index].catalog.right,
        'right-orientation': $ctrl.childrenPlacement[$index].catalog.right,
      }"
      ng-style="{'top': $ctrl.childrenPlacement[$index].catalog.topShift}"
    >
      <categories-list
        categories="category.catalog"
        containment="$ctrl.containment"
        select-operation="$ctrl.selectOperation({operationId: operationId})"
      >
      </categories-list>
    </div>
    <div class="categories-list__operations-wrapper"
      ng-if="$ctrl.showItems[$index] && category.items.length > 0"
      ng-class="{
        'left-orientation': !$ctrl.childrenPlacement[$index].operations.right,
        'right-orientation': $ctrl.childrenPlacement[$index].operations.right,
      }"
      ng-style="{'top': $ctrl.childrenPlacement[$index].operations.topShift}"
    >
      <category-operations-list
        operations="category.items"
        select-operation="$ctrl.selectOperation({operationId: operationId})"
      >
      </category-operations-list>
    </div>
  </div>
</div>
