<div class="c-workflow-container">
  <section class="c-workflow-container__content" resizable-listener="height">
    <side-bar></side-bar>

    <operation-catalogue
      ng-style="{'display' : workflow.data.operationCatalogue ? 'block' : 'none'}"
      catalog-collection="::workflow.catalog"
      custom-scroll-bar
      toggle
      toggle-on="StatusBar.ABORT ServerCommunication.EXECUTION_FINISHED"
      toggle-off="StatusBar.RUN"
      toggle-animate-in="animated fadeOutLeft o-panel--absolute"
      toggle-animate-out="animated fadeInLeft">
    </operation-catalogue>

    <flow-chart-box
      ng-class="{'flowchart-box--is-running': workflow.isRunning}"
      nodes="workflow.getWorkflow().getNodes()"
      selected-node="workflow.getSelectedNode()"
      is-running="workflow.isRunning"
      zoom-id="{{::workflow.zoomId}}"></flow-chart-box>

    <deepsense-operation-attributes
      workflow="workflow.WorkflowService.getWorkflow().id"
      node="workflow.getSelectedNode()"
      ng-if="workflow.getSelectedNode()"
      disabled-mode="workflow.isReportMode"
      predef-colors="workflow.getPredefColors()"
      class="o-panel o-panel--scroll-right animated fadeInRight"
      custom-scroll-bar
      resizable
      resizable-panel-name="rightPanel"
      resizable-position="left"
    >
    </deepsense-operation-attributes>

    <general-data-panel
      name="workflow.getWorkflow().name"
      description="workflow.getWorkflow().description"
      ng-if="!workflow.getSelectedNode()"
      toggle
      toggle-on="StatusBar.ABORT ServerCommunication.EXECUTION_FINISHED"
      toggle-off="StatusBar.RUN"
      toggle-animate-in="fadeOutRight o-panel--absolute"
      toggle-animate-out="fadeInRight o-general-panel"
      resizable
      resizable-panel-name="rightPanel"
      resizable-position="left"
      resizable-add-shift="-10">
    </general-data-panel>
  </section>

  <section
    class="c-bottom-tabs"
    resizable
    resizable-panel-name="bottomTab"
    resizable-via-listener=".c-workflow-container__content"
    resizable-invisible="true"
    resizable-position="top"
    resizable-min-start="25"
  >
    <tabify-tab label="Report">
      <p class="o-tabify-tab__label"
         ng-class="{'o-tabify-tab__label--active': workflow.report}">
        <i class="fa fa-file-text"></i>
        Report
      </p>
      <report
        report="workflow.report"
        ng-if="workflow.report"
      ></report>
    </tabify-tab>
  </section>
</div>
