/* Remove after DEMO */
tabify-tab {
  display: flex;
}

.o-tabify-tab__label {
  font-size: 14px;
  padding: 2px 15px;
  background: rgba(128, 128, 128, 0.7);
  color: white;
  font-weight: bold;
  margin: 0;

  &--active {
    background: lightgreen;
    color: darkslateblue;
    position: absolute;
    z-index: 1050;
  }
}
