<div class="c-workflow-container">
  <operation-catalogue
    catalog-collection="::workflow.catalog"
    custom-scroll-bar
    class="animated fadeInLeft">
  </operation-catalogue>

  <flow-chart-box
    nodes="workflow.getWorkflow().getNodes()"
    selected-node="workflow.getSelectedNode()"
    report-mode="false"
    zoom-id="{{::workflow.zoomId}}"></flow-chart-box>

  <deepsense-operation-attributes
    node="workflow.getSelectedNode()"
    ng-if="workflow.getSelectedNode()"
    disabled-mode="false"
    predef-colors="workflow.getPredefColors()"
    class="o-panel o-panel--scroll-right animated fadeInRight">
  </deepsense-operation-attributes>

  <general-data-panel
    name="workflow.getWorkflow().name"
    description="workflow.getWorkflow().description"
    ng-if="!workflow.getSelectedNode()">
  </general-data-panel>
</div>
