<div class="c-workflow-container">

  <side-bar></side-bar>

  <operation-catalogue
    ng-style="{'display' : workflow.data.operationCatalogue ? 'block' : 'none'}"
    catalog-collection="::workflow.catalog"
    custom-scroll-bar
    toggle
    toggle-on="StatusBar.ABORT"
    toggle-off="StatusBar.RUN"
    toggle-animate-in="animated fadeOutLeft o-panel--absolute"
    toggle-animate-out="animated fadeInLeft">
  </operation-catalogue>

  <flow-chart-box
    nodes="workflow.getWorkflow().getNodes()"
    selected-node="workflow.getSelectedNode()"
    report-mode="false"
    zoom-id="{{::workflow.zoomId}}"></flow-chart-box>

  <deepsense-operation-attributes
    workflow="workflow.WorkflowService.getWorkflow().id"
    node="workflow.getSelectedNode()"
    ng-if="workflow.getSelectedNode()"
    disabled-mode="workflow.isReportMode"
    predef-colors="workflow.getPredefColors()"
    class="o-panel o-panel--scroll-right animated fadeInRight">
  </deepsense-operation-attributes>

  <general-data-panel
    name="workflow.getWorkflow().name"
    description="workflow.getWorkflow().description"
    ng-if="!workflow.getSelectedNode()"
    toggle
    toggle-on="StatusBar.ABORT"
    toggle-off="StatusBar.RUN"
    toggle-animate-in="fadeOutRight o-panel--absolute"
    toggle-animate-out="fadeInRight o-general-panel">
  </general-data-panel>
</div>
