; {{ ansible_managed }}

[program:{{ program.name }}]
command={{ program.command }}
{% if program.directory is defined %}
directory={{ program.directory }}
{% endif %}
{% if program.environment is defined %}
environment={{ program.environment }}
{% endif %}
{% if program.autostart is defined %}
autostart={{ 'true' if program.autostart | bool else 'false' }}
{% endif %}
{% if program.autorestart is defined %}
autorestart={{ 'true' if program.autorestart | bool else 'false'}}
{% endif %}
{% if program.startretries is defined %}
startretries={{ program.startretries }}
{% endif %}
{% if program.stdout_logfile is defined %}
stdout_logfile={{ program.stdout_logfile }}
{% endif %}
{% if program.stdout_logfile_maxbytes is defined %}
stdout_logfile_maxbytes={{ program.stdout_logfile_maxbytes }}
{% endif %}
{% if program.stderr_logfile is defined %}
stderr_logfile={{ program.stderr_logfile }}
{% endif %}
{% if program.stderr_logfile_maxbytes is defined %}
stderr_logfile_maxbytes={{ program.stderr_logfile_maxbytes }}
{% endif %}
{% if program.user is defined %}
user={{ program.user }}
{% endif %}
