@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.api-version {
  color: grey;
  text-align: right;
  font-size: 14px;
}

td {
  padding: 12px !important;
  color: #000;
  border-top: 0 !important;
}

td a {
  color: #000;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #ffffff;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #F5F5F5;
}

.form-control:focus {
  border-color: transparent;
}

.no-border {
  border: 0;
}

.logo {
  padding-top: 40px;
  background-color: #f5f5f5;
}

.btn-workflow {
  padding: 10px 0;
  border-radius: 0;
  font-size: 22px;
  color: #fff;
  &__new {
    background-color: #02A3D8;
  }

  &__upload {
    background-color: #01b1eb;
  }
}

.input-search-workflow {
  padding: 10px 0;
  background-color: #e8e8e8;
  font-size: 17px;
  height: auto;
}

.table-workflows {
  font-size: 15px;
}

.color-gray {
  color: #7c7c7c;
}

.sortable {
  cursor: pointer;
  vertical-align: middle;

  > span {
    padding-left: 5px;
  }
}

.no-worfklows {
  text-align: center;
  margin-top: 75px;
  font-size: 34px;

  &__icon {
    font-size: 28px;
  }
}