<div class="panel panel-default no-border home-screen">
  <div class="logged-user">
    <span>
      <i class="fa fa-user logged-user__icon"></i>
      {{::home.getCurrentUser().name}}
    </span>
    <span>
      <a href="/logout">
        <span>Log out</span>
      </a>
    </span>
  </div>

  <!-- Default panel contents -->
  <div class="panel-heading text-center logo">
    <img src="../../img/seahorse-main.png">
    <p class="api-version">v{{home.getVersion()}}</p>
  </div>
  <!-- List group -->
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn-yellow btn text-uppercase btn-workflow btn-workflow__new"
              ng-click="home.displayCreateWorkflowPopup($event)">New Workflow
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn-blue btn text-uppercase btn-workflow btn-workflow__upload"
              ng-click="home.displayUploadWorkflowPopup($event)">Upload Workflow
      </button>
    </div>
  </div>
  <deepsense-loading-spinner-sm ng-if="home.isWorkflowLoading()"></deepsense-loading-spinner-sm>
  <div class="input-group col-md-12" ng-if="home.getAllWorkflows()">
    <input type="text" class="text-center form-control input-search-workflow"
           ng-model="home.filterString" placeholder="SEARCH...">
  </div>
  <div ng-if="!home.isWorkflowLoading()">
    <table class="table table-striped text-center table-workflows">
      <tr class="header text-uppercase">
        <td class="color-gray table__small table__centered table__cell">
          <b>No.</b>
        </td>
        <td class="color-gray sortable table__cell"
            ng-click="home.sortBy('name')">
          <b>Name</b>
          <span>
            <i ng-class="home.getClass('name')"></i>
          </span>
        </td>
        <td class="color-gray sortable table__cell" ng-click="home.sortBy('ownerName')">
          <b>Owner</b>
          <span>
            <i ng-class="home.getClass('ownerName')"></i>
          </span>
        </td>
        <td class="color-gray sortable table__cell"
            ng-click="home.sortBy('description')">
          <b>Description</b>
          <span>
            <i ng-class="home.getClass('description')"></i>
          </span>
        </td>
        <td class="color-gray sortable table__cell" ng-click="home.sortBy('updated')">
          <b>Updated</b>
          <span>
            <i ng-class="home.getClass('updated')"></i>
          </span>
        </td>
        <td class="color-gray sortable table__cell" ng-click="home.sortBy('created')">
          <b>Created</b>
          <span>
            <i ng-class="home.getClass('created')"></i>
          </span>
        </td>
        <td class="color-gray table__centered table__cell">
          <b>Actions</b>
        </td>
      </tr>
      <tr ng-repeat="workflow in home.workflows |
                     filter: home.search |
                     orderBy : home.sort.column : home.sort.descending
                     track by workflow.id">
        <td class="table__centered table__cell">
          <a ng-click="home.goToWorkflowEditor(workflow.id)">
            {{$index+1}}
          </a>
        </td>
        <td class="table__cell table__left">
          <a ng-class="{
              'owned-by-current-user': home.isWorkflowOwnedByCurrentUser(workflow)
            }"
             ng-click="home.goToWorkflowEditor(workflow.id)">
            {{workflow.name}}
          </a>
        </td>
        <td class="table__cell table__left">
          <a ng-class="{
              'owned-by-current-user': home.isWorkflowOwnedByCurrentUser(workflow)
            }"
             ng-click="home.goToWorkflowEditor(workflow.id)">
            <i class="fa fa-user logged-user__icon" ng-if="home.isWorkflowOwnedByCurrentUser(workflow)"></i>
            {{workflow.ownerName}}
          </a>
        </td>
        <td class="table__cell table__left">
          <a ng-if="workflow.description"
             uib-popover="{{workflow.description}}"
             popover-trigger="{{ home.getTriggerEventBasedOnDescriptionLength(workflow.description) }}"
             popover-append-to-body="true"
             ng-click="home.goToWorkflowEditor(workflow.id)">
            {{workflow.description | cut : true : 50 : ' ...' }}
          </a>
          <a ng-if="workflow.description.length == 0"
             ng-click="home.goToWorkflowEditor(workflow.id)">
            -
          </a>
        </td>
        <td class="table__cell table__left">
          <a ng-click="home.goToWorkflowEditor(workflow.id)">
            {{workflow.updated | date:"dd/MM/yyyy - hh:mm a"}}
          </a>
        </td>
        <td class="table__cell table__left">
          <a ng-click="home.goToWorkflowEditor(workflow.id)">
            {{workflow.created | date:"dd/MM/yyyy - hh:mm a"}}
          </a>
        </td>
        <td class="action-icons table__right table__cell">
          <span>
            <a ng-if="home.isWorkflowOwnedByCurrentUser(workflow) && workflow.sessionStatus !== 'not_running'"
               ng-click="home.deleteSession(workflow.id)"
               popover-placement="left"
               uib-popover="Stop session"
               popover-trigger="mouseenter"
               popover-append-to-body="true">
              <span class="fa fa-power-off"></span>
            </a>
            <a popover-trigger="mouseenter"
               popover-placement="left"
               uib-popover="Clone workflow"
               ng-click="home.cloneWorkflow(workflow)">
              <span class="fa fa-files-o"></span>
            </a>
            <a ng-if="home.isWorkflowOwnedByCurrentUser(workflow)"
               popover-trigger="mouseenter"
               popover-placement="left"
               uib-popover="Delete workflow"
               ng-click="home.deleteWorkflow(workflow)">
              <span class="fa fa-times"></span>
            </a>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-12" ng-if="!home.isWorkflowLoading() && home.isWorkflowListEmpty">
    <div class="container center">
      <div class="no-worfklows">
        <div class="no-worfklows__icon">
          <i class="fa fa-ban"></i>
          <span>No workflows found!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" ng-if="!home.isWorkflowLoading() && home.isErrorConnectingToVagrant">
    <div class="container center">
      <div class="no-worfklows">
        <div class="no-worfklows__icon">
          <span>
            <b>Seahorse is booting up.</b>
          </span>
          <br/>
          <span>Please wait a few seconds and <a href="#" ng-click="home.reloadPage()">reload the page</a>.</span>
        </div>
      </div>
    </div>
  </div>
</div>
