<div class="datasources-toolbar">
  <div class="title">
    New data source from
  </div>
  <div class="btn btn-modal" ng-click="$ctrl.openModal('libraryFile')">
    <span class="btn-modal__icon sa sa-library"></span>
    <span class="btn-modal__title">
      Library
    </span>
  </div>
  <div class="btn btn-modal" ng-click="$ctrl.openModal('jdbc')">
    <span class="btn-modal__icon sa sa-database"></span>
    <span class="btn-modal__title">
      Database
    </span>
  </div>
  <div class="btn btn-modal" ng-click="$ctrl.openModal('externalFile')">
    <span class="btn-modal__icon sa sa-external-file"></span>
    <span class="btn-modal__title">
      External file
    </span>
  </div>
  <div class="btn btn-modal" ng-click="$ctrl.openModal('hdfs')">
    <span class="btn-modal__icon sa sa-hdfs"></span>
    <span class="btn-modal__title">
      HDFS
    </span>
  </div>
  <div class="btn btn-modal" ng-click="$ctrl.openModal('googleSpreadsheet')">
    <span class="btn-modal__icon sa sa-google-spreadsheet"></span>
    <span class="btn-modal__title">
      Google Spreadsheet
    </span>
  </div>
</div>
