<div class="index-list-selector-item">
  <div class="index-list-values u-flex u-flex--center-center m-b-sm">
    <input type="number" focused autofocus placeholder="{{selectorIsSingle() ? 'Index' : 'From'}}" class="form-control o-custom index-list-selector-item__input" min="0" min-value ng-model="item.firstNum" ng-class="{ 'single-selector': selectorIsSingle() }">
    <input type="number" placeholder="To" class="form-control o-custom index-list-selector-item__input" min="0" min-value ng-model="item.secondNum" ng-if="!selectorIsSingle()">
    <a class="close-link m-l-sm" aria-label="Close" ng-click="removeIndex(item)"
       ng-if="!selectorIsSingle()">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <button ng-if="!selectorIsSingle()" class="btn btn-info btn-xs o-action-text" data-action="add-range" type="button"
          ng-click="addItem(itemType.id)">
    <i class="fa fa-plus"></i>
    <span ng-if="!selectorIsSingle()">Add range</span>
  </button>
</div>
