<div class="index-list-selector-item u-flex u-flex--center-center m-b-sm">
  <input type="number"
         focused
         autofocus
         placeholder="Index"
         class="form-control o-custom index-list-selector-item__input single-selector"
         min="0"
         min-value
         ng-model="item.firstNum"
         ng-if="selectorIsSingle()">

  <form ng-if="!selectorIsSingle()"
        novalidate
        ng-submit="addIndex(index)"
        name="indexForm">
    <div  class="u-flex u-flex--center-center m-b-sm">
      <input type="number"
             focused
             autofocus
             placeholder="From"
             class="form-control o-custom index-list-selector-item__input"
             min="0"
             min-value
             ng-model="index.firstNum"
             required>
      <input type="number"
             placeholder="To"
             class="form-control o-custom index-list-selector-item__input"
             min="0"
             min-value
             ng-model="index.secondNum"
             required>
    </div>

    <button class="btn btn-info btn-xs o-action-text"
            ng-disabled="indexForm.$invalid">
      <i class="fa fa-plus"></i>
      <span>Add index</span>
    </button>

    <span class="badge badge-default o-tag-unit" ng-repeat="index in getItemsThisType('indexRange') | filter:hasValues">
      <span>{{::index.firstNum}}</span>
      <span> - </span>
      <span class="o-tag-unit__name">{{::index.secondNum}}</span>
      <a class="close o-tag-unit__close" ng-click="removeIndex(index)">&times;</a>
    </span>
  </form>
</div>
