<configuration>

    <property name="defaultPattern"
              value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="WARN"/>
    <logger name="com.datastax" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache.avro" level="WARN"/>
    <logger name="org.apache.cassandra" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.cassandraunit" level="WARN"/>
    <logger name="org.spark-project" level="WARN"/>
    <logger name="parquet.hadoop" level="WARN"/>

    <root level="ALL">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
