<div class="button-wrapper">
  <a class="status-bar-item"
     ng-class="miCtrl.additionalClass"
     ng-click="miCtrl.callFunction()"
     ng-href="{{miCtrl.href}}"
     ng-style="{'background-color': miCtrl.color}"
     target="{{::miCtrl.target}}">
    <span class="c-workflows-status-bar__icon" ng-if="::miCtrl.icon">
        <i
          ng-class="::miCtrl.additionalIconClass"
          class="fa {{::miCtrl.icon}}">
        </i>
    </span>

    <div class="c-workflows-status-bar__text">
      <span class="c-workflows-status-bar__text-label">{{::miCtrl.label}}</span>
      <span class="c-workflows-status-bar__text-small-label" ng-if="miCtrl.forOwnerOnly && !miCtrl.isOwner()">
        Owner only
      </span>
    </div>
    <span class="c-workflows-status-bar__popover-span"
          uib-popover="{{::miCtrl.label}}"
          popover-placement="bottom"
          popover-trigger="mouseenter"
          popover-append-to-body="true"
    >
    </span>
  </a>

  <ng-include
    ng-if="miCtrl.additionalHtmlForOwner && miCtrl.isOwner()"
    src="miCtrl.additionalHtmlForOwner"
  >
  </ng-include>

</div>
