@import "./sticky-window/sticky-window.less";
@import "./services/notification.service.less";
@import "./navigation-bar/navigation-bar.less";
@import "./modals/modals.less";
@import "./dots/dots.less";
@import "./resizable/resizable.less";

.o-action-btn {
  min-width: 60px;
  text-transform: uppercase;
  transition: all .5s;
  border-radius: 0;
  height: 100%;
  min-height: 34px;

  &:hover {
    box-shadow: 0 0 10px #A8A8A8 inset;
  }
}
