<div id="attributes-list-{{ :: $id }}" class="attributes-list">
  <div class="ibox parameter-item" ng-repeat="parameter in parametersList.parameters">
    <div class="ibox-title" label-to-first-unlabeled>
      <label>
        {{ ::parameter.name }}
      </label>
      <i class="attributes-list__icon--help fa fa-question-circle"
         popover-placement="left"
         uib-popover="{{ ::parameter.schema.description }}"
         popover-trigger="mouseenter"
         popover-append-to-body="true"></i>
    </div>
    <div class="ibox-content">
      <div class="attributes-value-view" ng-switch="::parameter.schema.type">
        <attribute-boolean-type ng-switch-when="boolean"></attribute-boolean-type>
        <attribute-single-choice-type ng-switch-when="choice"></attribute-single-choice-type>
        <attribute-multiple-choice-type ng-switch-when="multipleChoice"></attribute-multiple-choice-type>
        <attribute-numeric-type ng-switch-when="numeric"></attribute-numeric-type>
        <attribute-snippet-type ng-switch-when="snippet"></attribute-snippet-type>
        <attribute-string-type ng-switch-when="string"></attribute-string-type>
        <attribute-creator-type ng-switch-when="creator"></attribute-creator-type>
        <attribute-prefix-based-creator-type ng-switch-when="prefixBasedCreator"></attribute-prefix-based-creator-type>
        <attribute-selector-type ng-switch-when="selector"></attribute-selector-type>
        <attribute-multiplier-type ng-switch-when="multiplier"></attribute-multiplier-type>
      </div>
    </div>
  </div>
  <div class="lead no-parameters" ng-if="noParamValues()">No parameters</div>
</div>
