@import "../../../css/variables";

.operations-catalogue {
  position: absolute;
  top: 40px; //TODO change it because it depends of new node's height
  z-index: 1;
  background-color: @color-light-grey;
  color: @seahorse-blue;

  &.catalogue-results {
    left: 0;
  }

  &.search-results {
    border: 1px solid @color-grey;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
