<section class="c-homepage">
  <div class="c-report-bug"><a ng-href="mailto:{{::home.reportBugEmailAddress}}">Found a bug?<br/>Email us: {{::home.reportBugEmailAddress}}</a></div>
  <div class="o-video-container">
    <div class="o-video-container__c-version">version: {{::home.getVersion()}}</div>
    <div class="o-video-container__filter"></div>
    <div class="o-video-container__bg-image"></div>
    <video autoplay loop class="o-video-container__video
                                o-video-container__video--cover
                                o-video-container__video--height">
      <source src="app/home/assets/MP4/Working-Space.mp4" type="video/mp4"/>
      Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="app/home/assets/WEBM/Working-Space.webm" type="video/webm"/>
      Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="app/home/assets/snapshots/Working-Space.jpg" alt="">
    </div>
  </div>
  <nav class="c-main-menu">
    <ul class="c-main-menu__wrapper">
      <li class="c-main-menu__item">
        <a class="c-main-menu__link" ng-click="home.displayCreateWorkflowPopup($event)">New Workflow</a>
      </li>
      <li class="c-main-menu__item c-main-menu__item--upload">
        <a class="c-main-menu__link" ng-click="home.displayUploadWorkflowPopup($event)">Upload Workflow</a>
      </li>
      <li class="c-main-menu__item c-main-menu__item--upload">
        <a class="c-main-menu__link" ng-click="home.displayUploadExecutionWorkflowPopup($event)">Upload Execution
          Report</a>
      </li>
    </ul>
  </nav>
</section>
