<div class="datasources-panel">
  <div class="datasources-panel__header">
    <div class="title">
      Data sources
    </div>
  </div>
  <div class="datasources-panel__buttons">
    <div class="title">
      New data source from
    </div>
    <div class="button">
      Library
    </div>
    <div class="button">
      Database
    </div>
    <div class="button">
      External file
    </div>
    <div class="button">
      HDFS
    </div>
    <div class="button">
      Google Spreadsheet
    </div>
  </div>

  <datasources-list>
  </datasources-list>

</div>
