server {
  host = "{{ds_wm_ip}}"
  port = {{ds_wm_port}}
  startup.timeout = {{startup_timeout}}
}

auth-service {
  endpoint = "{{auth_service_endpoint}}"
  identity = "{{wm_auth_service_identity}}"
  password = "{{wm_auth_service_password}}"
  timeout {
    connection = {{auth_service_timeout_connection}}
    socket = {{auth_service_timeout_socket}}
  }
}

roles {
  workflows {
    get = "{{roles_workflows_get}}"
    update = "{{roles_workflows_update}}"
    create = "{{roles_workflows_create}}"
    list = "{{roles_workflows_list}}"
    delete = "{{roles_workflows_delete}}"
    launch = "{{roles_workflows_launch}}"
    abort = "{{roles_workflows_abort}}"
  }
}

workflows.api.prefix = "{{workflows_api_prefix}}"
operations.api.prefix = "{{operations_api_prefix}}"
models.api.prefix = "{{models_api_prefix}}"
reports.api.prefix = "{{reports_api_prefix}}"

h2 {
  url = "jdbc:h2:file:{{wm_install_dir}}/workflowmanager;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1"
  driver = org.h2.Driver
  connectionPool = disabled
  keepAliveConnection = true
}
