.default-endpoint-output {
  font-size: 14px;
  color: white;
  z-index: 1;
  position: relative;
  opacity: 0.75;
}

.output-endpoint-default-style-report-mode {
  &:before {
    .default-endpoint-output;
    top: 12px;
    left: 8px;
  }
}

.output-endpoint-default-hover-style-report-mode {
  &:before {
    .default-endpoint-output;
    top: 18px;
    left: 13px;
  }
}

.output-endpoint-selected-style-report-mode {
  &:before {
    .default-endpoint-output;
    top: 20px;
    left: 12px;
  }
}