<div class="datasources-modal" ng-form="datasourceForm">
  <div class="datasources-modal__header">
    <div class="modal-title">HDFS</div>
  </div>

  <div class="datasources-modal__body">
    <div class="datasources-modal__body-row">
      <label class="title">HDFS path</label>
      <div class="icon-input">
        <div class="hdfs-prefix">hdfs://</div>
        <input
          ng-disabled="$ctrl.previewMode"
          ng-model="$ctrl.hdfsPathBuffer"
          ng-change="$ctrl.onChangeHandler()"
          name="hdfsUrl"
          placeholder="HDFS Path"
          class="form-control"
          type="text"
        />
        <div
          ng-if="!$ctrl.previewMode"
          class="icon-input__status"
        >
          <div
            ng-class="{
              'sa-ok status-ok': $ctrl.isHdfsPathValid && (datasourceForm.hdfsUrl.$dirty || $ctrl.originalDatasource),
              'status-error': !$ctrl.isHdfsPathValid && (datasourceForm.hdfsUrl.$dirty || $ctrl.originalDatasource)
            }"
            class="sa icon"
          ></div>
        </div>
      </div>
    </div>

    <file-settings
      disabled-mode="$ctrl.previewMode"
      file-settings="$ctrl.datasourceParams.hdfsParams"
      on-change="$ctrl.onFileSettingsChange(fileSettings)"
    ></file-settings>

    <div class="datasources-modal__body-row">
      <div class="public-param-row">
        <div class="checkbox-wrapper">
          <label
            ng-class="{
              'active': $ctrl.datasourceParams.visibility === 'publicVisibility',
              'disabled': $ctrl.previewMode
            }"
            class="format-form-label"
          >
            <input
              ng-disabled="$ctrl.previewMode"
              ng-model="$ctrl.datasourceParams.visibility"
              ng-true-value="'publicVisibility'"
              ng-false-value="'privateVisibility'"
              type="checkbox"
            />
            <span>Public</span>
          </label>
        </div>
        <div class="public-param-row__label">
          (Public data sources are accessible by all users of this instance of Seahorse)
        </div>
      </div>
    </div>
  </div>

  <div ng-include="$ctrl.footerTpl"></div>
</div>
