@import "../../../../../css/variables";

.file-element {
  width: 100%;
  display: flex;
  height: 36px;
  align-items: center;
  border-bottom: 1px solid #C6C6C6;
  position: relative;

  &.last-elem {
    border: 0;
  }

  &.upload-error {
    background-color: #e5dbdb;

    .name, .directory {
      color: black;
    }

    .actions {
      display: none;
    }
  }

  &.directory {
    background-color: #f2f2f2;

    .name {
      color: @seahorse-light-blue;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .icon-wrapper {
    width: 36px;

    .icon {
      padding-left: 5px;
      padding-top: 3px;
      font-size: 35px;
      font-family: seahorse-symbol;
      color: @seahorse-light-blue;

      &.sa-directory, &.sa-directory-parent {
        padding-bottom: 5px;
      }
    }

    .extension {
      position: absolute;
      color: white;
      font-weight: 900;
      text-transform: uppercase;

      &.csv {
        font-size: 11px;
        top: 12px;
        left: 8px;
      }

      &.json {
        font-size: 9px;
        top: 13px;
        left: 8px;
      }
    }
  }

  .name {
    font-weight: 600;
    flex: 1;

    .upload-info {
      font-style: italic;
      color: grey;
      font-weight: 500;
      padding-left: 10px;
    }

    .new-dir {
      padding: 0 5px;

      &.cancel {
        color: grey;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    padding-right: 10px;
    a {
      color: inherit;
      text-decoration: none;
    }
    span.sa {
      font-size: 26px;
      margin: 0 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-progress-upload {
    background: linear-gradient(to right, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 100%, rgba(188, 224, 238, 1) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    height: 100%;
  }
}



