<div class="datasources-list">
  <div class="datasources-list__header">
    <div class="datasources-list__type">
      <span class="datasources-list__descending-icon sa-sort-desc sa"></span>
      <span class="datasources-list__ascending-icon sa-sort-asc sa"></span>
    </div>
    <div class="datasources-list__name">
      <span class="datasources-list__text">Name</span>
      <span class="datasources-list__descending-icon sa-sort-desc sa"></span>
      <span class="datasources-list__ascending-icon sa-sort-asc sa"></span>
    </div>
    <div class="datasources-list__created">
      <span class="datasources-list__text">Created</span>
      <span class="datasources-list__descending-icon sa-sort-desc sa"></span>
      <span class="datasources-list__ascending-icon sa-sort-asc sa"></span>
    </div>
    <div class="datasources-list__owner">
      <span class="datasources-list__text">Owner</span>
      <span class="datasources-list__descending-icon sa-sort-desc sa"></span>
      <span class="datasources-list__ascending-icon sa-sort-asc sa"></span>
    </div>
    <div class="datasources-list__access">
      <span class="datasources-list__text">Access</span>
      <span class="datasources-list__descending-icon sa-sort-desc sa"></span>
      <span class="datasources-list__ascending-icon sa-sort-asc sa"></span>
    </div>
  </div>
  <datasources-element
    ng-repeat="datasource in $ctrl.datasources"
    element="datasource"
  />
</div>
