.output-endpoint-default-style-report-mode {
  &:before {
    font-size: 14px;
    color: white;
    z-index: 1;
    top: 12px;
    left: 8px;
    position: relative;
    opacity: 0.75;
  }
}

.output-endpoint-default-hover-style-report-mode {
  &:before {
    font-size: 20px;
    color: white;
    z-index: 1;
    top: 15px;
    left: 9px;
    position: relative;
    opacity: 0.75;
  }
}
