<aside class="ibox o-general-data-panel o-panel o-panel--scroll-right animated fadeInRight">
  <header class="o-general-data-panel__ibox-title--editor-mode" ng-if="!controller.isReportMode">
    <h4 class="ibox-title__name"
        uib-tooltip="{{controller.name ? 'Edit workflow name' : ''}}"
        tooltip-placement="left"
        tooltip-append-to-body="true">
      <span editable-text="controller.name"
            class="o-panel__title">
        {{controller.name || 'Enter workflow name'}}
      </span>
    </h4>
  </header>
  <header class="o-general-data-panel__ibox-title--report-mode" ng-if="controller.isReportMode">
    <h4 class="text-success no-margins">{{::controller.name}}</h4>
  </header>
  <section class="ibox-content o-general-data-panel__content" custom-scroll-bar>
    <header>
      <auto-text-area value="controller.description"
                      ng-if="!controller.isReportMode"
                      uib-tooltip="Edit workflow's description"
                      tooltip-placement="left"
                      tooltip-append-to-body="true"></auto-text-area>
      <p ng-if="controller.isReportMode"
         class="o-panel__description o-panel__description--read-only"
         uib-tooltip="{{::controller.description}}"
         tooltip-placement="left"
         tooltip-append-to-body="true">
        {{::controller.description}}
      </p>
    </header>
    <section ng-if="controller.isReportMode">
      <header>
        <p class="o-state__status label font-bold"
           ng-class="::{
            'label-success': controller.state.status === 'status_completed',
            'label-danger': controller.state.status === 'status_failed',
            'label-warning': controller.state.status === 'status_aborted'
           }" uib-tooltip="Status" tooltip-placement="left" tooltip-append-to-body="true">
          {{ ::controller.getVerboseStatus() }}
        </p>
        <button ng-show="::controller.state.status === 'status_failed'"
                ng-click="controller.showErrorMessage()"
                class="btn btn-xs btn-success action-text fa fa-exclamation-triangle
                  o-error-btn o-error-btn--full-width">
          <span class="action-text__text-element">Click here to show errors</span>
        </button>
      </header>
      <p class="o-state__time text-right text-uppercase font-bold navy-bg">
        <span class="block">Last execution started</span>
        <i class="fa fa-clock-o"></i>
        <time datetime="{{::controller.state.started}}"
              class="text-right">
          {{::controller.state.started | date:'medium'}}
        </time>
      </p>
      <p class="o-state__time text-right text-uppercase font-bold lazur-bg">
        <span class="block">Last execution ended</span>
        <i class="fa fa-clock-o"></i>
        <time datetime="{{::controller.state.ended}}"
              class="text-right">
          {{::controller.state.ended | date:'medium'}}
        </time>
      </p>
      <p class="o-state__time text-right text-uppercase font-bold gray-bg"
         ng-show="::(controller.state.ended && controller.state.started)">
        <span class="block">Execution time</span>
        <i class="fa fa-clock-o"></i>
        <time-diff start="controller.state.started"
                   end="controller.state.ended"></time-diff>
      </p>
    </section>
  </section>
</aside>
