.report-table-header {
  .report-info {
    margin-bottom: 20px;
  }

  .report-stats {
    margin-top: 20px;
    text-align: center;
    width: 200px;
    float: right;
  }
}
.report-table-body {
  .col-icon {
    margin-left: 15px;
    font-size: 1.1em;
  }

  .col-type {
    font-weight: normal;
    font-style: italic;
  }

  table {
    margin-bottom: 0;

    th {
      font-size: 1.2em;
      min-width: 150px;
    }
  }
}
