<div class="inmodal delete-confirmation-modal">
  <form ng-submit="vm.ok()">
    <div class="modal-header">
      <h4 class="modal-title">Deletion cannot be undone</h4>
    </div>
    <div class="modal-body">
      <label class="custom-checkbox">
        <input type="checkbox" ng-model="vm.doNotShowAgain" name="delete_confirmation">
        <span>Do not show this message again</span>
      </label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.close()">Cancel</button>
      <button type="submit" class="btn btn-info" >OK</button>
    </div>
  </form>
</div>
